body {
  font-family: Arial;
  margin: 0;
  background: #f4f4f4;
}

header {
  background: #333;
  color: white;
  padding: 10px;
  text-align: center;
}

nav a {
  margin: 10px;
  color: white;
  text-decoration: none;
}

.home {
  text-align: center;
  padding: 50px;
}

.home img {
  width: 150px;
  border-radius: 50%;
}

.projects {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.card {
  background: white;
  padding: 10px;
  box-shadow: 0 0 10px gray;
}

.gallery img {
  width: 200px;
  margin: 10px;
}

.dark-mode {
  background: black;
  color: white;
}
